root = true

[*]
charset = utf-8
end_of_line = lf

[*.{py}]
indent_style = space
indent_size = 4

[*.{yaml,yml,tf,tfvars}]
indent_style = space
indent_size = 2

[Dockerfile]
indent_style = space
indent_size = 2
